SMP_R931/umat41/impedance/*
SMP_R931/umat43/force_length/*
!*.k
disk*
mppscr
mpptbin*
part_des
mes*
binout*
d3*
elout
glstat
lspost
matsum
messag*
musout.*
*.xy
nodout
rcforc
spcforc
status.out
adptmp
bg_switch
disk8
dyna.*
kill_by_pid
*.csv
*.swp
*.msg
*.pdf
*.mat
*.asv
*.cfile
*.0000000002
scr0000*
