~lock.*
*.csv#
*.ods
*.orig
*.svg
SMP_R931/umat41/impedance/*
SMP_R931/umat43/force_length/*
!*.k
disk*
mppscr
mpptbin*
part_des
mes*
binout*
d3*
elout
glstat
lspost
matsum
messag*
musout.*
*.xy
nodout
rcforc
spcforc
status.out
adptmp
bg_switch
disk8
dyna.*
kill_by_pid
*.csv
!ReferenceCurves/*
*.swp
*.msg
*.pdf
*.fig
*.mat
*.asv
*.cfile
*.0000000002
scr0000*
!ReferenceExperiments/active_passive_force_length/GallopudiLin2009_FiberActiveForceLength.csv
!ReferenceExperiments/active_passive_force_length/GallopudiLin2009_FiberPassiveForceLength.csv
!ReferenceExperiments/active_passive_force_length/GollapudiLin2009_Fig6.csv
!ReferenceExperiments/active_passive_force_length/GollapudiLin2009_Fig7b.csv
!ReferenceExperiments/active_passive_force_length/SiebertLeichsenringRodeWickStutzig2015_fig3_falN.csv
!ReferenceExperiments/active_passive_force_length/SiebertLeichsenringRodeWickStutzig2015_fig3_fpeN.csv
!ReferenceExperiments/active_passive_force_length/SmeuldersKreulenHageHuijingHorst2004_Fig4.csv
!ReferenceExperiments/active_passive_force_length/TMWinters2011_EDL_falN.csv
!ReferenceExperiments/active_passive_force_length/TMWinters2011_EDL_fpeN.csv
!ReferenceExperiments/active_passive_force_length/TMWinters2011_EDLII_falN.csv
!ReferenceExperiments/active_passive_force_length/TMWinters2011_EDLII_fpeN.csv
!ReferenceExperiments/active_passive_force_length/TMWinters2011_TA_falN.csv
!ReferenceExperiments/active_passive_force_length/TMWinters2011_TA_fpeN.csv
!ReferenceExperiments/active_passive_force_length/HoltAzizi2014_Fig2.csv
pergatory/*
